<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AZAR</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        
       <!--favicon-img--> 
       <link rel="icon" type="image/png" href="images/Azar-icono.jpeg">
       <!--favicon-img-->
    
        <link rel="stylesheet" href="css/index.css">
       
    
    </head>
<body>
    <main id="songs-one">


        
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Use auriculares para una mejor experiencia.</div>
        </div>

<!-- CONTENT -->
        <div id="songs-one-content">



   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
       <a href="index-two.html" class="text">AZAR ROCK</a>
    </div>
    <div class="menu-bar hover ">
        <div class="menu-bar-name text">
            Menú
        </div>
        <div class="menu-bar-lines text">
            <div class="menu-bar-line"></div>
            <div class="menu-bar-line"></div>
        </div>
    </div>
</div>
<!-- NAVIGATION -->






<!-- HEADING -->
<div class="heading">
    <div class="text">
      Canciones
    </div>
</div>

<!-- HEADING -->




<!-- SONGS CONTAINER -->


<div class="center">
<div id="songs-container">



    <!-- SONG -->
<div class="song fade-up">

    <div class="song-img">
        <img src="images/Karma-reproductor.jpeg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Karma</div>
        <div class="artist-name">Azar</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="Karma">
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="Karma">
                    
                    <source src="music/Karma.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song mouse">
                <a href="music/Karma.mp3"  download="Karma - Azar">7.7mb<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
        <img src="images/Bacanal.jpeg" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">La bacanal de los andrios</div>
        <div class="artist-name">Azar</div>
        </div>
        <div class="music-player"> 
            <div class="play-song mouse">
                <!-- DATA-SONG AND DATA-AUDIO SHOULD EXACTLY BE SAME -->
                <img src="images/play.png" alt="play" data-song="bacanal">
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="bacanal">
                    <source src="music/La bacanal de los Andrios.mpeg" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/La bacanal de los Andrios.mpeg"  download="La bacanal de los andrios - Azar">10.4mb<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->


        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/Reina-reproductor.jpeg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Reina del Bestiario</div>
        <div class="artist-name">Azar</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="Reina" >
               
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="Reina">
                    <source src="music/Reina del Bestiario.mpeg" type="audio/mp3">
                    </audio> 
            </div>




            <div class="download-song">
                <a href="music/Reina del Bestiario.mpeg"  download="Reina del Bestiario - Azar">9.6mb<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/Talisman-reproductor.jpeg" alt="song"  data-song="Talisman" class="play">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Talismán</div>
        <div class="artist-name">Azar</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="Talisman" >
               
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="Talisman">
                    <source src="music/Talisman.mpg" type="audio/mp3">
                    </audio> 
            </div>




            <div class="download-song">
                <a href="music/Talisman.mpg"  download="Talismán - Azar">10.6mb<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/quieta-reproductor.jpeg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Quieta</div>
        <div class="artist-name">Azar</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="Quieta" >
               
                <audio data-audio="Quieta">
                    <source src="music/Quieta.mpeg" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/Quieta.mpeg"  download="Quieta - Azar">6.0mb<img src="images/download.png" alt="download"></a>
            </div>




        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/papa-reproductor.jpeg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Papá:</div>
        <div class="artist-name">Azar</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="papa" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="papa">
                    <source src="music/Papa.mp4" type="audio/mp3">
                    </audio> 
            </div>



            <div class="download-song">
                <a href="music/Papa.mp4"  download="Papá: - Azar">5.0mb<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    

</div>
 <!-- SONG -->
 <div class="song fade-up">


  <div class="song-img">
      <img src="images/no-preguntes-reproductor.jpeg" alt="song">
  </div>

  <div class="song-details">
      <div class="song-details-content">
      <div class="song-name">No preguntes</div>
      <div class="artist-name">Azar</div>
      </div>
      <div class="music-player">
       
          <div class="play-song mouse">
              <img src="images/play.png" alt="play" data-song="no-preguntes" >
             
              <audio data-audio="no-preguntes">
                  <source src="music/No-preguntes.mpeg" type="audio/mp3">
                  </audio> 
          </div>
          <div class="download-song">
              <a href="music/No-preguntes.mpeg"  download="No preguntes - Azar">10.1mb<img src="images/download.png" alt="download"></a>
          </div>




      </div>
  </div>
  
</div>
  <!-- SONG -->

<!-- SONGS CONTAINER -->



 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->
  
               
   
 <!-- MUSIC INDICATOR -->
 <div class="music-indicator">
    <span style="--i:1;" class="music-indicator-span"></span>
    <span style="--i:2;" class="music-indicator-span "></span>
    <span style="--i:3;" class="music-indicator-span "></span>
    <span style="--i:4;" class="music-indicator-span "></span>
  </div>
   <!-- MUSIC INDICATOR -->
  
               


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->






        </div>
<!-- CONTENT -->


      
      <!-- NAVIGATION CONTENT -->

      <div class="navigation-content">
        <div class="navigation-logo hover opacity">
          <a href="#" class="text">AZAR ROCK</a>
        </div>
        <ul class="navigation-ul">
          <li>
            <a
              href="index-one.html"
              data-text="Inicio"
              data-img="images/Azar4.jpeg"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="about-one.html"
              data-text="Acerca de la banda"
              data-img="images/Azar5.jpeg"
              >Acerca de la banda</a
            >
          </li>
          <li>
            <a
              href="songs-one.html"
              data-text="Canciones"
              data-img="images/azar-cancion.jpeg"
              >Canciones</a
            >
          </li>
          <li>
            <a
              href="blog-one.html"
              data-text="Blogs"
              data-img="images/azar6.jpeg"
              >Blogs</a
            >
          </li>
          <li>
            <a
              href="contact-one.html"
              data-text="Contacto"
              data-img="images/azar7.jpeg"
              >Contacto</a
            >
          </li>
        </ul>
        <div class="navigation-close hover about-close opacity">
          <div class="navigation-close-line"></div>
          <div class="navigation-close-line"></div>
        </div>

        <div class="project-preview"></div>

        <!-- HEADPHONE IMG -->
        <div class="headphone-navigation opacity">
          <img
            src="images/headphone.png"
            title="headphone zone"
            class="text"
            alt="headphone"
          />
        </div>
        <!-- HEADPHONE IMG -->

        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
          <ul>
            <li>
              <a
                href="https://www.youtube.com/channel/UCf1YUsRA1QdSXya07toLCuA"
                class="text hover opacity"
                >YT</a
              >
            </li>
            <li>
              <a
                href="https://www.facebook.com/Azar.Rock.SJ"
                class="text hover opacity"
                >FB</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/azar.rock/"
                class="text hover opacity"
                >IG</a
              >
            </li>
          </ul>
        </div>
        <!-- SOCIAL MEDIA LINKS -->
      </div>

      <!-- NAVIGATION CONTENT -->
    </main>
    <!-- MAIN CONTENT -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
